.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 45px;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(225, 225, 225, 0.1),
    rgba(225, 225, 225, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px;
  border: 1px solid rgba(225, 225, 225, 0.18);
  padding: 10px;
}

.item {
  margin: 50px;
}
